*{
    font-size: var(--default-font-size);
}

#sneakpeek{
    height:100%;
}

#sneakpeek:hover{
    cursor:pointer;
}

@media only screen and (max-width: 800px) {
    #sneakpeek{
        width: 100%;
        height: auto;
    }
}