#utilitymain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: calc(100vh - 150px);
    padding: 10px;
    box-sizing: border-box;
}

.utilitypart{
    width:45%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    overflow-y: auto;
}

@media only screen and (max-width: 800px) {
    #utilitymain{
        display:block;
        overflow-y: auto;
    }
    .utilitypart{
        width: 100%;
        margin-bottom: 25px;
    }
}